
.DS_Store
/__pycache__
*/__pycache__/*
*/dev-port.*
*/.vscode/*
*/.idea/*
*/.pytest_cache/*
*/.mypy_cache/*
*/.coverage
*/.coverage.*
*/flask-port.*
src/node_modules/.vite/deps/_metadata.json
src/user_data.db
src/sensor_data.db
